


.breadcrumbs {
  padding: 0 15px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 768px) {
    .breadcrumbs {
      padding: 0 50px; } }

.section-breadcrumbs {
  line-height: 1; }
  .section-breadcrumbs + .product-section .thb-product-detail {
    margin-top: 0; }
  .section-breadcrumbs scroll-shadow {
    width: 100%; }

.breadcrumbs {
  font-size: 0.6875rem;
  overflow-x: auto;
  display: inline-flex;
  width: 100%;
  white-space: nowrap;
  padding: 7px 0;
  color: rgba(var(--color-body-rgb), 0.6);
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    .breadcrumbs {
      padding: 10px 0;
      overflow-x: hidden; } }
  .breadcrumbs i {
    opacity: 0.2;
    display: inline-block;
    margin: 0 8px; }
  .breadcrumbs a {
    text-underline-offset: 3px; }
    .breadcrumbs a:hover {
      text-decoration: underline; }
