

.collection-tabs__list-link, .collection-tabs__list-link:after {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }


.collection-tabs {
  overflow: hidden; }
  .collection-tabs scroll-shadow {
    margin-top: 15px; }
  .collection-tabs__list {
    display: inline-flex;
    overflow-x: auto;
    white-space: nowrap;
    margin: 2px 0;
    gap: 20px;
    position: relative;
    max-width: 100%; }
    .collection-tabs__list:after {
      content: '';
      display: block;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      z-index: 1;
      background-color: var(--color-border); }
    @media only screen and (min-width: 768px) {
      .collection-tabs__list {
        gap: 30px; } }
    .collection-tabs__list-link {
      color: var(--color-body);
      font-weight: var(--font-body-medium-weight, 500);
      opacity: 0.4;
      position: relative;
      padding: 0 0 10px;
      margin-bottom: 1px;
      text-transform: uppercase;
      font-size: 0.8125rem;
      letter-spacing: 0.05em;
      white-space: nowrap; }
      .collection-tabs__list-link:hover {
        opacity: 1; }
      .collection-tabs__list-link:after {
        content: '';
        display: block;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        position: absolute;
        z-index: 2;
        transform: scale(0, 1);
        background-color: var(--color-body);
        transform-origin: left top; }
      .collection-tabs__list-link.active {
        opacity: 1; }
        .collection-tabs__list-link.active:after {
          transform: scale(1, 1); }
  .collection-tabs .button.linked-to-tab {
    display: none; }
    .collection-tabs .button.linked-to-tab.active {
      display: inline-flex; }

.products.carousel .collection-tabs--product {
  display: none; }
  .products.carousel .collection-tabs--product.carousel__slide {
    display: flex;
    scroll-snap-align: center; }
