



.accordion {
  display: block;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 25px;
  color: var(--color-body); }
  .accordion + .accordion {
    border-top: 0;
    margin-top: -25px; }
  .accordion-container .accordion {
    max-width: 760px;
    margin-right: auto;
    margin-left: auto; }
    .accordion-container .accordion:last-child {
      margin-bottom: 0; }
  .accordion details[open] summary span {
    transform: rotateX(180deg); }
  .accordion summary {
    width: 100%;
    list-style: none;
    position: relative;
    font-weight: var(--font-body-medium-weight, 500);
    font-size: 1.0625rem;
    line-height: 1.2;
    padding: 18px 40px 18px 0;
    cursor: pointer; }
    [dir="rtl"] .accordion summary {
      padding: 18px 0 18px 40px; }
    .accordion summary span {
      position: absolute;
      top: calc(50% - 6px);
      right: 0;
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }
      [dir="rtl"] .accordion summary span {
        right: auto;
        left: 0; }
  .accordion--has-icon summary {
    display: flex;
    gap: 15px; }
  .accordion--icon {
    margin: 2px 0 0;
    line-height: 0;
    flex-shrink: 0; }
    .accordion--icon img,
    .accordion--icon svg {
      width: auto;
      height: 16px; }
  .accordion .accordion__content {
    padding: 0 0 15px 0;
    font-size: 0.9375rem; }
    .accordion .accordion__content > *:last-child {
      margin-bottom: 0; }

.collapsible-content__inner {
  max-width: 1060px;
  margin: 0 auto; }

.collapsible-content.heading-uppercase-true .accordion summary {
  text-transform: uppercase; }
