


.image-with-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--bg-body, #fff); }
  @media only screen and (min-width: 768px) {
    .image-with-text {
      flex-wrap: nowrap; } }
  .image-with-text.text_first {
    flex-direction: row-reverse; }
  .image-with-text__image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden; }
    .image-with-text__image .image-with-text--image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
      .animations-true .image-with-text__image .image-with-text--image {
        opacity: 0;
        transform: scale(1.15); }
    .image-with-text__image .placeholder_svg_tag {
      padding: 50px;
      fill: var(--bg-body, #fff);
      opacity: 0.5;
      background: var(--color-accent); }
    .image-with-text__image-media {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-bottom: var(--ratio-percent); }
      .image-with-text__image-media.aspect-ratio--small {
        padding-bottom: 75%; }
      .image-with-text__image-media.aspect-ratio--large {
        padding-bottom: 100%; }
      .image-with-text__image-media iframe,
      .image-with-text__image-media video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover; }
  .image-with-text__content {
    width: 100%;
    flex-grow: 1;
    padding: 25px; }
    @media only screen and (min-width: 768px) {
      .image-with-text__content {
        padding: 45px; } }
    @media only screen and (min-width: 1068px) {
      .image-with-text__content {
        padding: 70px; } }
    .image-with-text__content .placeholder_svg_tag {
      width: 100px;
      height: 100px;
      fill: var(--bg-body, #fff);
      opacity: 0.5;
      background: var(--color-accent);
      margin-bottom: 20px; }
    .image-with-text__content--inner {
      max-width: 600px;
      margin: 0 auto; }
    .image-with-text__content__image {
      margin-bottom: 30px; }
    .image-with-text__content .rte p {
      font-size: inherit; }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-small > .image-with-text__inner {
      width: 40%; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-medium > .image-with-text__inner {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .image-with-text.grid--image-large > .image-with-text__inner {
      width: 60%; } }
