.mobile-menu .sub-menu {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}


.mobile-menu-drawer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: var(--color-header-bg, var(--bg-body, #fff));
  height: calc(100vh - calc(100% + var(--header-offset, 0px)));
  display: block;
  border-top: 1px solid var(--color-header-border, var(--color-border));
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, transform;
  transform: translateY(50px);
  transition: opacity 0.25s cubic-bezier(0.104, 0.204, 0.492, 1), transform 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
  scrollbar-width: none;
  --color-price: var(--color-header-text);
  --color-accent: var(--color-header-text);
  --color-accent-rgb: var(--color-header-text-rgb);
}

.mobile-menu-drawer::-webkit-scrollbar {
  display: none;
}

@supports (height: 100dvh) {
  .mobile-menu-drawer {
    height: calc(100dvh - calc(100% + var(--header-offset, 0px)));
  }
}

.mobile-menu-drawer.active {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.mobile-menu-drawer--inner {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-menu-drawer .thb-mobile-menu-footer {
  padding: 15px;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  background: var(--color-header-bg, var(--bg-body, #fff));
}

@media only screen and (min-width: 768px) {
  .mobile-menu-drawer .thb-mobile-menu-footer {
    padding: 30px 50px;
  }
}

.mobile-menu-drawer .thb-mobile-menu-footer .thb-localization-forms {
  text-align: left;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form>div {
  margin-left: 0;
  margin-right: 20px;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form .select {
  margin-bottom: 0;
  padding-right: 14px;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form .select-arrow {
  right: 0;
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form .select-arrow svg path {
  stroke: var(--color-header-text, --color-body);
}

.mobile-menu-drawer .thb-mobile-menu-footer .shopify-localization-form select {
  font-size: 0.875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-header-text, --color-body);
}

.mobile-menu-drawer .mega-menu-promotion {
  display: block;
  margin-bottom: 20px;
}

.mobile-menu-drawer .mega-menu-promotion img {
  transform: scale(1);
}

.mobile-menu-drawer .mega-menu-promotion.mega-menu-promotion--small {
  width: 100%;
  margin: 0 0 10px;
  display: block;
}

.mobile-menu-drawer .mega-menu-promotion.mega-menu-promotion--small .mega-menu-promotion--cover {
  padding: 8px 15px;
}

.mobile-menu {
  list-style: none;
  margin: 0 0 20px;
  overflow: hidden;
  width: 100%;
  padding: 0 30px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    padding: 0 50px;
  }
}

.mobile-menu li .link-container {
  font-family: var(--font-heading-family);
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 10px 0;
  font-size: 0.9375rem;
  font-weight: var(--font-body-medium-weight, 500);
  border-bottom: 1px solid var(--color-header-border, var(--color-border));
  color: var(--color-header-text, --color-body);
}

.mobile-menu li .link-container .link-forward {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 59px;
  margin-left: auto;
  transition: transform 0.25s ease;
}

.mobile-menu li .link-container .link-forward.active {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
}

[dir="rtl"] .mobile-menu li .link-container .link-forward {
  transform: rotateZ(180deg);
}

.mobile-menu li .link-container .link-forward svg path {
  stroke: var(--color-header-text, --color-body);
}

.mobile-menu li .link-container .parent-link {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.no-js .mobile-menu li .link-container[open]>.sub-menu {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu li .link-container[open].menu-opening>.sub-menu {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu .parent-link-back button {
  width: 100%;
  font-size: 0.8125rem;
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--color-header-text, --color-body);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.mobile-menu .parent-link-back button span {
  line-height: 0;
}

.mobile-menu .parent-link-back button svg {
  margin-right: 10px;
  width: 6px;
}

[dir="rtl"] .mobile-menu .parent-link-back button svg {
  margin: 0 0 0 10px;
  transform: rotateZ(180deg);
}

.mobile-menu .sub-menu {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color-header-bg, var(--bg-body, #fff));
  transform: translateX(100%);
  margin-left: 0;
  list-style: none;
  padding: 0 15px;
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .mobile-menu .sub-menu {
    padding: 0 50px;
  }
}

.mobile-menu .sub-menu .sub-menu {
  z-index: 12;
}

[dir="rtl"] .mobile-menu .sub-menu {
  transform: translateX(-100%);
}

.mobile-menu .mega-menu-sidebar--content {
  padding: 0;
  border: 0;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

.mobile-menu .mega-menu-sidebar--content .product-card-info {
  padding: 0;
}

.mobile-secondary-menu {
  list-style: none;
  margin: 0 0 30px;
  font-size: 0.875rem;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) {
  .mobile-secondary-menu {
    padding: 0 50px;
  }
}

.mobile-secondary-menu a {
  display: block;
  font-size: inherit;
  color: var(--color-header-text, --color-body);
}

.mobile-menu ul {
  margin: 0;
}

.mobile-menu li {
  list-style: none;
}

.link-forloop-2-menu,
.link-forloop-3-menu {
  display: none;
}

.mobile-menu li .link-forloop-2-title {
  padding-left: 20px;
}

.mobile-menu ul.sub-menu-3 li a {
  padding-left: 40px;
}