@charset "UTF-8";


.product-card--quickview,
.product-card--quickview-small,
.product-card-swatches .product-card-swatch {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.no-js .product-card--quickview,
.no-js .product-card--quickview-small {
  display: none !important;
}


.product-card--image {
  scrollbar-width: none;
}

.product-card--image::-webkit-scrollbar {
  display: none;
}



.star-rating {
  --star-percent: calc(var(--star-rating) / 5 * 100%);
  display: inline-block;
  font-size: 1rem;
  font-family: Times;
  line-height: 1;
}

.star-rating:before {
  content: "★★★★★";
  background: linear-gradient(90deg, var(--color-star) var(--star-percent), #e1e1e1 var(--star-percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star-rating.simple {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.star-rating.simple:before {
  content: "★";
}

.rating {
  display: inline-block;
  margin: 0;
}

.rating-star {
  --letter-spacing: 0.3;
  --font-size: 1.5;
  --percent: calc((var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) / (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))) * 100%);
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star:before {
  content: "\2605\2605\2605\2605\2605";
  background: linear-gradient(90deg, var(--color-reviews) var(--percent), rgba(var(--color-foreground), 0.15) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: none;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}


.products {
  list-style: none;
}

.products.carousel {
  min-width: 100%;
  padding: 0;
  --mobile-columns: 2;
  --column-gap: 4px;
  display: grid;
  row-gap: 20px;
  column-gap: var(--column-gap);
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (var(--column-gap) * calc(var(--mobile-columns) - 1))) / var(--mobile-columns));
  scroll-snap-type: x mandatory;
}

.products.carousel .product-card {
  flex-shrink: 0;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .products.carousel {
    --column-gap: var(--product-card-spacing, 20px);
    --mobile-columns: var(--tablet-columns);
  }
}

@media only screen and (min-width: 1068px) {
  .products.carousel {
    --mobile-columns: var(--desktop-columns);
  }
}

.products.carousel .carousel__slide {
  scroll-snap-align: center;
}

.products.carousel .carousel__slide .product-card-promotion {
  min-height: 100%;
}

.products.carousel .product-card-promotion {
  margin-bottom: 0;
}

.products.grid {
  min-width: 100%;
  padding: 0;
  --mobile-columns: 2;
  --column-gap: 4px;
  display: grid;
  row-gap: 20px;
  column-gap: 8px;
  grid-template-columns: repeat(var(--mobile-columns), 1fr);
}

.products.grid .product-card {
  flex-shrink: 0;
  height: auto;
  margin-bottom: 0;
  min-height: 100%;
}

@media only screen and (min-width: 768px) {
  .products.grid {
    --column-gap: var(--product-card-spacing, 20px);
    --mobile-columns: var(--tablet-columns);
    row-gap: 30px;
  }
}

@media only screen and (min-width: 1068px) {
  .products.grid {
    --mobile-columns: var(--desktop-columns);
  }
}

@media only screen and (max-width: 767px) {
  .swipe-on-mobile .products.grid {
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (var(--column-gap) * calc(var(--mobile-columns) - 1))) / var(--mobile-columns));
    scroll-snap-type: x mandatory;
    grid-template-columns: none;
  }
}

.products.loading {
  position: relative;
}

.products.loading .products--column,
.products.loading .product-card-promotion {
  opacity: 0.5;
}

.products.loading .loading-overlay {
  display: flex;
}

.products .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
}

.products .loading-overlay--sticky {
  position: sticky;
  top: 0;
  display: inline-block;
  left: 0;
  height: 42px;
  padding: 20% 0;
  text-align: center;
  width: 100%;
}

.products .loading-overlay--sticky svg {
  position: static;
  width: 42px;
  height: 42px;
}

.product-card {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 20px);
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .product-card {
    margin-bottom: 30px;
    min-height: calc(100% - 30px);
  }
}

.carousel .product-card {
  margin-bottom: 0;
}

.product-card.text-center .product-card-info {
  padding: 0 5%;
}

.product-card--drawer .product-card-info {
  padding-left: 0 !important;
}

.product-card--image {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  z-index: 0;
  pointer-events: none;
}

.product-card--image-wrapper {
  position: relative;
}

.animations-true .product-card--image-primary {
  opacity: 0;
  transform: scale(1.15);
}

.product-card--image-inner {
  display: flex;
}

.product-card--image .aspect-ratio {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  overflow: hidden;
}

.product-card--image-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.product-card--image--contain .aspect-ratio img,
.product-card--image--contain .aspect-ratio video {
  object-fit: contain;
}

.product-card-vendor {
  margin-bottom: 2px;
}

.product-card-vendor a,
.product-card-subtitle {
  font-family: var(--font-heading-family);
  color: rgba(var(--color-body-rgb), 0.7);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin: 12px 0 2px;
  white-space: nowrap;
  text-transform: capitalize;
}

.product-card-subtitle-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.product-card-subtitle-row .product-card-subtitle {
  margin: 12px 0 2px;
}

.product-card-subtitle-row .product-card--badges {
  position: static;
  z-index: auto;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin: 12px 0 2px;
}

.product-card-subtitle-row .product-card--badges .badge {
  width: auto;
  justify-content: center;
}

.product-card-title {
  font-size: 0.875rem;
  line-height: calc(var(--font-product-title-line-height-scale, 1) * 1.5);
  font-weight: 400;
  letter-spacing: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-title-uppercase-true .product-card-title {
  text-transform: uppercase;
}

.product-card-text-with-review {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card-text-with-review .star-rating {
  margin-bottom: 0;
}

.product-card .price {
  font-size: 0.875rem;
  margin: 4px 0;
}

.product-card--badges {
  position: absolute;
  z-index: 12;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-card--badges.bottom {
  bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .product-card--badges.bottom {
    bottom: 16px;
  }
}

.product-card--badges.left {
  left: 8px;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .product-card--badges.left {
    left: 16px;
  }
}

.product-card--badges.top {
  top: 8px;
}

.product-card--badges.top.left {
  top: auto;
  left: auto;
  bottom: 0;
  width: 100%;
}

.badge[data-badge="48h-shipping"] {
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .product-card--badges.top {
    top: 16px;
  }
}

.product-card--badges.right {
  right: 8px;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .product-card--badges.right {
    right: 16px;
  }
}

.product-card--quickview {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 20;
  background: rgba(var(--bg-body-rgb), 0.8);
  color: var(--color-body);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 32px;
  border-radius: 21px;
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: scale(0.8) translateY(10%);
  transform-origin: center 80%;
}

@media only screen and (min-width: 768px) {
  .product-card--quickview {
    bottom: 24px;
    left: 40px;
    right: 40px;
    height: 42px;
  }
}

.product-card--quickview:focus-within {
  opacity: 1;
  transform: scale(1) translateY(0%);
}

.product-card--quickview span {
  line-height: 1;
  font-size: 0.5625rem;
  font-weight: var(--font-body-medium-weight, 500);
  letter-spacing: 0.1em;
  padding-right: 0;
  white-space: nowrap;
  text-transform: uppercase;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .product-card--quickview span {
    font-size: 0.6875rem;
  }
}

.product-card--quickview .loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 20;
  width: 18px;
  height: 18px;
}

.product-card--quickview .loading-overlay .spinner {
  width: 18px;
  height: 18px;
}

.product-card--quickview .loading-overlay .spinner-path {
  stroke: var(--color-body);
}

.product-card--quickview.loading .product-card--quickview-text {
  opacity: 0;
}

.product-card--quickview-small {
  background-color: rgba(var(--bg-body-rgb), 0.6);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .product-card--quickview-small {
    bottom: 14px;
    right: 14px;
  }
}

.product-card--quickview-small .loading-overlay {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.product-card--quickview-small .loading-overlay svg {
  width: 16px;
}

.product-card--quickview-small.loading>svg {
  visibility: hidden;
}

.product-card--quickview-small.loading .loading-overlay {
  display: flex;
}

.product-card-sizes {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
}

.product-card-sizes--container {
  display: inline-flex;
  width: calc(100% - 40px);
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  transform: translateY(100%);
  transition: all 0.25s linear;
}

.product-card-sizes--container+span {
  display: none;
}

.product-card-sizes--container:focus-within {
  transform: translateY(0%);
}

.product-card-sizes--size {
  min-width: 24px;
  height: 24px;
  padding: 0 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.6875rem;
  margin: 0 2px;
  cursor: pointer;
  position: relative;
  text-underline-offset: 2px;
}

.product-card-sizes--size:not(.is-disabled):hover {
  text-decoration: underline;
}

.product-card-sizes--size .loading-overlay {
  width: 14px;
  height: 14px;
}

.product-card-sizes--size .loading-overlay .spinner {
  width: 14px;
  height: 14px;
}

.product-card-sizes--size.is-disabled {
  text-decoration: none;
  cursor: not-allowed;
}

.product-card-sizes--size.is-disabled>span {
  opacity: 0.4;
}

.product-card-sizes--size.loading>span {
  opacity: 0;
}

.product-card-swatches {
  display: inline-grid;
  align-items: start;
  gap: 2px;
  grid-template-columns: repeat(var(--size, 5), var(--swatch-column-size, 18px));
}

.product-card-swatches .product-card-swatch {
  display: inline-flex;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 1px;
  position: relative;
  cursor: pointer;
  background-color: var(--bg-body, #fff);
}

.product-card-swatches .product-card-swatch:before {
  content: "";
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  margin: 0;
  border-radius: 50%;
  border: 0;
  background: var(--option-color);
  background-image: var(--option-color-image);
  background-size: cover;
}

.product-card-swatches .product-card-swatch:after {
  display: none;
}

.product-card-swatches .product-card-swatch-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.product-card-swatches .product-card-swatch-input:checked+.product-card-swatch {
  box-shadow: inset 0 0 0 1px var(--swatch-active-shadow);
}

.product-card-swatches .product-card-swatch-input:checked+.product-card-swatch:before {
  background-color: var(--option-color);
  background-image: var(--option-color-image);
}

.product-card-swatches .product-card-swatch-input:checked+.product-card-swatch--variant:before {
  background-color: transparent;
}

.product-card-swatches .product-card-swatch-input:focus-visible+.product-card-swatch {
  box-shadow: inset 0 0 0 1px #015ecc;
}

.product-card-swatches .product-card-swatch-input:focus-visible+.product-card-swatch:after {
  display: none;
}

.product-card-swatches--container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.product-card-swatches--remaining {
  font-size: 0.6875rem;
  line-height: 1;
  color: rgba(var(--color-body-rgb), 0.6);
}

.product-card-swatches-expand--true {
  --swatch-column-size: 9px;
  margin-right: 8px;
  transition: all 0.25s ease;
}

.product-card-swatches-expand--true .product-card-swatch-input:checked+.product-card-swatch {
  --swatch-active-shadow: transparent;
}

.product-card-swatches-expand--true:focus-within {
  --swatch-column-size: 18px;
  margin-right: 0;
}

.product-card .star-rating.simple {
  font-size: 0.8125rem;
  line-height: 1;
  display: none;
}

@media only screen and (min-width: 768px) {
  .product-card .star-rating.simple {
    display: inline-flex;
  }
}

.product-card .star-rating--mobile.simple {
  display: inline-flex;
}

@media only screen and (min-width: 768px) {
  .product-card .star-rating--mobile.simple {
    display: none;
  }
}

.product-card:hover .product-card-swatches-expand--true {
  --swatch-column-size: 18px;
  margin-right: 0;
}

.product-card:hover .product-card-swatches-expand--true .product-card-swatch-input:checked+.product-card-swatch {
  --swatch-active-shadow: var(--color-body);
}

.product-card:hover .product-card--quickview {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.product-card:hover .product-card--quickview-small {
  opacity: 1;
}

.product-card:hover .product-card--nav {
  opacity: 1;
}

.product-card:hover .product-card-sizes--container {
  transform: translateY(0%);
}

.product-card--nav {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.product-card--nav-prev {
  left: 0;
}

.product-card--nav-next {
  right: 0;
}

.product-card--nav svg {
  pointer-events: none;
}

.product-card--label-container {
  margin-top: 5px;
}

.product-card-spacing-small {
  --product-card-spacing: 4px;
}

.product-card-spacing-small .product-card-info {
  padding: 0 10px;
}

.product-card-spacing-medium {
  --product-card-spacing: 10px;
}

.product-card-spacing-large {
  --product-card-spacing: 20px;
}

.collection-empty {
  text-align: center;
  padding: 10vh;
}

.collection-empty svg {
  margin-bottom: 30px;
}

.collection-empty .text-button {
  font-size: inherit;
}

.collection-empty p {
  font-size: 1.25rem;
}


.product-card--label {
  font-size: 0.625rem;
  padding: 5px 8px;
  line-height: 1.2;
  color: rgba(var(--color-body-rgb), 0.8);
  border-radius: 3px;
  align-items: center;
  border: 1px solid var(--color-border);
}

.product-card--label-container {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .product-card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-card-vendor a,
  .product-card-subtitle {
    font-size: 12px;
    line-height: 14px;
  }

  .jdgm-widget * {
    font-size: 12px;
  }
}

.product-card-siblings .product-form__input {
  padding: 0;
  margin: 5px 0 0;
  border-top: none;
}

.variations.product-card-siblings .product-form__input--siblings label {
  width: 20px;
  height: 20px;
}

.sibling-more {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  line-height: 14px;
}

.product-card .afterpay-info-box {
  display: none;
}