

.shoppable-video-reels--button {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }


.shoppable-video-reels {
  display: block; }
  .shoppable-video-reels--carousel {
    display: flex;
    flex-direction: column-reverse; }
  .shoppable-video-reels--slide {
    padding: 0 5px;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-shrink: 0; }
    @media only screen and (min-width: 768px) {
      .shoppable-video-reels--slide {
        width: 50%;
        padding: 0 10px; } }
    @media only screen and (min-width: 1068px) {
      .shoppable-video-reels--slide {
        width: 28%; } }
  .shoppable-video-reels--video {
    position: relative;
    aspect-ratio: var(--video-aspect-ratio, 0.6);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
    transition: clip-path 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }
    .shoppable-video-reels--video .placeholder_svg_tag {
      min-height: 600px; }
    .shoppable-video-reels--video .placeholder_svg_tag,
    .shoppable-video-reels--video video {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .shoppable-video-reels--video .slideshow__slide-video-bg {
      position: static;
      height: 100%; }
  .shoppable-video-reels--product {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    padding: 46px 16px 16px;
    transition: opacity 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }
    .shoppable-video-reels--product:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: rgba(var(--color-overlay-rgb), var(--overlay-opacity));
      pointer-events: none; }
    .shoppable-video-reels--product .product-card-small {
      max-width: 100%;
      margin: 0; }
    .shoppable-video-reels--product .product-card-small--quick-view {
      right: 0; }
    .shoppable-video-reels--product .product-card-small--link {
      color: var(--color-text); }
    .shoppable-video-reels--product .product-card-small--quick-view {
      background-color: var(--color-text); }
      .shoppable-video-reels--product .product-card-small--quick-view svg {
        stroke: var(--color-body); }
  .shoppable-video-reels--button {
    background-color: rgba(var(--color-body-rgb), 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: absolute;
    border-radius: 50%;
    line-height: 0;
    opacity: 0; }
    .shoppable-video-reels--button svg {
      pointer-events: none; }
      .shoppable-video-reels--button svg path,
      .shoppable-video-reels--button svg rect {
        fill: var(--bg-body, #fff); }
    .shoppable-video-reels--button-sound {
      top: 16px;
      right: 16px; }
      .shoppable-video-reels--button-sound .video-sound-on {
        display: block; }
      .shoppable-video-reels--button-sound .video-sound-off {
        display: none; }
      .shoppable-video-reels--button-sound.muted .video-sound-on {
        display: none; }
      .shoppable-video-reels--button-sound.muted .video-sound-off {
        display: block; }
    .shoppable-video-reels--button-play-pause {
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      margin: -30px 0 0 -30px; }
      .shoppable-video-reels--button-play-pause .video-pause {
        display: block; }
      .shoppable-video-reels--button-play-pause .video-play {
        display: none; }
      .shoppable-video-reels--button-play-pause.paused .video-pause {
        display: none; }
      .shoppable-video-reels--button-play-pause.paused .video-play {
        display: block; }
    .shoppable-video-reels--button:hover {
      background-color: rgba(var(--color-body-rgb), 0.75); }
  .shoppable-video-reels video-controls {
    display: contents; }
  .shoppable-video-reels .is-selected .shoppable-video-reels--video {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%); }
  .shoppable-video-reels .is-selected .shoppable-video-reels--product {
    opacity: 1;
    pointer-events: all; }
  .shoppable-video-reels .is-selected .product-cart-item {
    transform: translateY(0px); }
  .shoppable-video-reels .is-selected .slideshow__slide-video-bg {
    pointer-events: all; }
  .shoppable-video-reels .is-selected:hover .shoppable-video-reels--button {
    opacity: 1; }
  .shoppable-video-reels .product-cart-item {
    margin: 0;
    color: var(--color-body);
    transform: translateY(20px);
    transition: transform 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }
    .shoppable-video-reels .product-cart-item-image {
      margin-right: 15px; }
    .shoppable-video-reels .product-cart-item img,
    .shoppable-video-reels .product-cart-item .thb-placeholder {
      width: 60px; }
  .shoppable-video-reels .flickity-page-dots {
    position: static;
    margin: 15px auto 0;
    transform: none; }
