

.tabbed-content--tabs button:after {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }


.tabbed-content {
  display: block; }
  .tabbed-content.text-width-small {
    max-width: 800px;
    margin: 0 auto; }
  .tabbed-content.text-width-medium {
    max-width: 1000px;
    margin: 0 auto; }
  .tabbed-content.text-width-large {
    max-width: 1200px;
    margin: 0 auto; }
  .tabbed-content--scroll {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    transform: translateZ(0px); }
    .tabbed-content--scroll s {
      z-index: 10; }
  .tabbed-content--tabs {
    display: flex;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    gap: 20px; }
    .tabbed-content--tabs:after {
      content: '';
      display: block;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      z-index: 1;
      background-color: var(--color-border); }
    .tabbed-content--tabs::-webkit-scrollbar {
      display: none; }
    .tabbed-content--tabs button {
      display: inline-flex;
      align-items: center;
      font-size: 0.8125rem;
      text-transform: uppercase;
      font-weight: var(--font-body-medium-weight, 500);
      color: rgba(var(--color-body-rgb), 0.6);
      position: relative;
      letter-spacing: 0.05em;
      padding: 0 0 10px;
      margin-bottom: 1px; }
      .tabbed-content--tabs button:after {
        content: '';
        display: block;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        position: absolute;
        z-index: 2;
        transform: scale(0, 1);
        background-color: var(--color-body);
        transform-origin: left top; }
      .tabbed-content--tabs button svg {
        fill: rgba(var(--color-body-rgb), 0.6);
        margin-right: 11px;
        width: 15px;
        height: auto; }
      .tabbed-content--tabs button.active {
        color: rgba(var(--color-body-rgb), 1); }
        .tabbed-content--tabs button.active:after {
          transform: scale(1, 1); }
        .tabbed-content--tabs button.active svg {
          fill: rgba(var(--color-body-rgb), 1); }
    .tabbed-content--tabs.tabs-center {
      text-align: center; }
      .tabbed-content--tabs.tabs-center button {
        margin: 0 17px; }
    .tabbed-content--tabs.tabs-right {
      text-align: right; }
      .tabbed-content--tabs.tabs-right button {
        margin: 0 0 0 34px; }
  .tabbed-content--content {
    display: none;
    color: var(--color-body); }
    @media only screen and (min-width: 768px) {
      .tabbed-content--content {
        column-count: var(--columns, 1); } }
    .tabbed-content--content.active {
      display: block; }
